.divar{
    width: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15vh auto;
}

.divar2{
    width: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15vh auto;
}

#centrar{
    justify-content: center;
    text-align: center;
    display: flex;
    margin: 0 auto;
}

.fundo{
    background-color: red;
    color: white;
}

body{
    background-image: url("img/back.jpg")!important;
}